/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --primary-color-red: hsl(0, 78%, 62%);
  --primary-color-cyan: hsl(180, 62%, 55%);
  --primary-color-orange: hsl(34, 97%, 64%);
  --primary-color-blue: hsl(212, 86%, 64%);

  --neutral-very-dark: hsl(234, 12%, 34%);
  --neutral-grayish-blue: hsl(229, 6%, 66%);
  --neutral-very-light: hsl(0, 0%, 98%);

  --main-fs: 0.938rem;

  --ff-main: "Poppins", sans-serif;

  --fw-light: 200;
  --fw-regular: 400;
  --fw-semibold: 600;
}
